<%= content_for :topbar do %> 
  <div id="spinner"></div>
<% end %>

<%= link_to t('equations'), polynomial_path(@polynomial.sid), :class => 'button', :id => 'switch_button' %>

<h2>Graphical Representation of <%= @polynomial.name %> Polynomials</h2>

<h3><%= t('definition') %></h3>

<p>The <%= @polynomial.name %> polynomials are defined as</p>

<div id="definition">
\[
  \begin{align}
    <%= @definition[0] %> &= <%= @definition[1] %>\\
                          &= <%= @definition[2] %>
  \end{align}
\]
</div>


<h3><%= t('plot') %></h3>

<div class="plot">
  <div id="plot_spinner_wrapper">
    <div id="plot_spinner"></div>
  </div>

  <div id="plot_overview_wrapper">
    <div id="plot_overview"></div>
    <div id="plot_overview_legend"></div>
    <p id="choices"></p>
  </div>

  <div id="plot_wrapper">
    <div id="plot"></div>
  </div>
</div>  

<p><b>Note:</b> You can choose a selection on the small graph in order to zoom. Mark the check boxes on the left side for which you want to plot the graph.</p>


<h3><%= t('parameters') %></h3>

<%= form_tag plot_polynomial_path(@polynomial.sid, :parameters => @plot_params), :remote => true, :method => 'get', :class => 'form' do %>
  <% if @polynomial.parameters.count > 0 %>
    <span class="label"><%= t('parameters') %></span>
    <% @polynomial.parameters.each do |parameter| %>
      <p>
        \(<%= parameter.latex_name %>\)
        <%= text_field_tag "parameters[#{parameter.name}]", parameter.default %>
        \(<%= parameter.boundaries %>\)
      </p>  
    <% end %>
  <% end %>

  <%= submit_tag 'Plot', :class => 'button', :id => 'submit' %>
  </div>
<% end %>

<script type="text/javascript">
$(function () {  
    $("#plot_spinner_wrapper").hide();

    MathJax.Hub.Register.StartupHook("End Typeset", function(){
      $("#spinner").fadeOut();
      $("#pagearea").fadeIn();
      $("#footer").fadeIn();
      $("#submit").click();    
    });

    $("#submit").bind('click', function(){
      $("#plot_spinner_wrapper").fadeIn();
      $("#plot").fadeOut();
      $("#plot_overview").fadeOut();
      $("#plot_overview_legend").fadeOut();
      $("#choices").fadeOut();
    });
});
</script>

<style type="text/css" media="screen">
#pagearea, #footer {
  display: none;
}
</style>