<h2><%= @polynomial.name %></h2>


<h3>Definition</h3>

<p>The <%= @polynomial.name %> polynomials are defined as</p>

\[<%= @polynomial.definition %>\]


<h3>Parameters</h3>

<%= form_tag polynomial_path(@polynomial.sid), :remote => true, :method => 'get', :class => 'form' do %>
  <% @polynomial.parameters.each do |parameter| %>
  <p>
    <%= parameter.name %>
    <%= text_field_tag parameter.name, parameter.name %>
  </p>
  <% end %>

  <%= submit_tag 'Submit', :class => 'button' %>
<% end %>


<h3>Differential Equation</h3>

<div class="result_wrapper" id="diffeq_wrapper">
  <div class="result" id="diffeq"></div>
</div>


<h3>Recurrence Equation</h3>

<div class="result_wrapper" id="receq_wrapper">
  <div class="result" id="receq"></div>
</div>