<%= content_for :topbar do %> 
  <div id="spinner"></div>
<% end %>

<%= link_to t('plot'), plot_polynomial_path(@polynomial.sid), :class => 'button', :id => 'switch_button' %>

<h2><%= @polynomial.name %> Polynomials</h2>

<h3><%= t('definition') %></h3>

<p>The <%= @polynomial.name %> polynomials are defined as</p>

<div id="definition">
\[
  \begin{align}
    <%= @definition[0] %> &= <%= @definition[1] %>\\
                          &= <%= @definition[2] %>
  \end{align}
\]
</div>

<div id="polynomial"> 
</div>

<h3><%= @diffeq %></h3>

<div class="result_wrapper" id="diffeq_wrapper">
  <div class="result" id="diffeq"></div>
</div>

<div class="computation_wrapper">
  <%= button_tag 'Show Maple', :class => 'computation_button', :id => 'diffeq_computation_submit' %>
  <pre id="diffeq_computation" class="computation" style="display: none"></pre>
</div>

<h3><%= @receq %></h3>

<div class="result_wrapper" id="receq_wrapper">
  <div class="result" id="receq"></div>
</div>

<div class="computation_wrapper">
  <%= button_tag 'Show Maple', :class => 'computation_button', :id => 'receq_computation_submit' %>
  <pre id="receq_computation" class="computation" style="display: none"></pre>
</div>

<h3><%= t('parameters') %></h3>

<%= form_tag polynomial_path(@polynomial.sid), :remote => true, :method => 'get', :class => 'form' do %>
  <div>
    <div class="left_col">
      <span class="label"><%= t('variables') %></span>
      <p>\(n\) <%= text_field_tag 'n', 'n' %></p>
      <p>\(x\) <%= text_field_tag 'x', 'x' %></p>
    </div>

    <div class="right_col">
      <% if @polynomial.parameters.count > 0 %>
        <span class="label"><%= t('parameters') %></span>
        <% @polynomial.parameters.each do |parameter| %>
          <p>
            \(<%= parameter.latex_name %>\)
            <%= text_field_tag parameter.name, parameter.name %>
            \(<%= parameter.boundaries %>\)
          </p>  
        <% end %>
      <% end %>
    </div>    
  </div>

  <div style="clear: both">
    <span class="label">factor</span> <span class="maple_info">(use Maple-style input)</span>
    <p>&nbsp;&nbsp;<%= text_field_tag 'factor', '' %> hypergeometric term in \(n\) and 
      <% if @polynomial.type == 'continuous' %> 
        hyperexponential term in \(x\) required
      <% else %>
        hypergeometric term in \(x\) required
      <% end %>
    </p>
  
    <%= submit_tag 'Submit', :class => 'button', :id => 'submit' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function(){
  MathJax.Hub.Register.StartupHook("End Typeset", function(){
    $("#spinner").fadeOut();
    $("#pagearea").fadeIn();
    $("#footer").fadeIn();
  });
  
  $("#submit").click();
  
  var diffeq_flip = 0;
  $("#diffeq_computation_submit").bind('click', function(){
    $("#diffeq_computation").toggle(diffeq_flip++ % 2 == 0);
    if (diffeq_flip % 2 == 0) {
      $(this).html('Show Maple');            
    } else {
      $(this).html('Hide Maple');      
    }
  });
  
  var receq_flip = 0;
  $("#receq_computation_submit").bind('click', function(){
    $("#receq_computation").toggle(receq_flip++ % 2 == 0);
    if (receq_flip % 2 == 0) {
      $(this).html('Show Maple');            
    } else {
      $(this).html('Hide Maple');      
    }
  });  
});
</script>

<style type="text/css" media="screen">
#pagearea, #footer {
  display: none;
}
</style>