<h2><%= @polynomial.name %></h2>


<h3><%= t('definition') %></h3>

<p>The <%= @polynomial.name %> polynomials are defined as</p>

\[<%= @polynomial.definition %>\]


<h3><%= t('parameters') %></h3>

<%= form_tag polynomial_path(@polynomial.sid), :remote => true, :method => 'get', :class => 'form' do %>
  <p>n<%= text_field_tag 'n', 'n' %></p>
  <p>x<%= text_field_tag 'x', 'x' %></p>
  <p>q<%= text_field_tag 'q', 'q' %></p>

  <% @polynomial.parameters.each do |parameter| %>
  <p>
    <%= parameter.name %>
    <%= text_field_tag parameter.name, parameter.name %>
    <%= parameter.boundaries %>
  </p>
  <% end %>

  <p>
    &nbsp;&nbsp;
    <%= text_field_tag 'factor', '' %>
    prefactor (q-hypergeometric term in \(n\) and hyperexponential term in \(x\) required)
  </p>
  
  <%= submit_tag 'Submit', :class => 'button', :id => 'submit' %>
<% end %>


<h3><%= @diffeq %></h3>

<div class="result_wrapper" id="diffeq_wrapper">
  <div class="result" id="diffeq"></div>
</div>

<div class="computation_wrapper">
  <%= button_tag 'Show Maple', :class => 'computation_button', :id => 'diffeq_computation_submit' %>
  <pre id="diffeq_computation" class="computation" style="display: none"></pre>
</div>

<h3><%= @receq %></h3>

<div class="result_wrapper" id="receq_wrapper">
  <div class="result" id="receq"></div>
</div>

<div class="computation_wrapper">
  <%= button_tag 'Show Maple', :class => 'computation_button', :id => 'receq_computation_submit' %>
  <pre id="receq_computation" class="computation" style="display: none"></pre>
</div>


<script type="text/javascript" charset="utf-8">
$(function(){
  $("#submit").click();
  
  var diffeq_flip = 0;
  $("#diffeq_computation_submit").bind('click', function(){
    $("#diffeq_computation").toggle(diffeq_flip++ % 2 == 0);
    if (diffeq_flip % 2 == 0) {
      $(this).html('Show Maple');            
    } else {
      $(this).html('Hide Maple');      
    }
  });
  
  var receq_flip = 0;
  $("#receq_computation_submit").bind('click', function(){
    $("#receq_computation").toggle(receq_flip++ % 2 == 0);
    if (receq_flip % 2 == 0) {
      $(this).html('Show Maple');            
    } else {
      $(this).html('Hide Maple');      
    }
  });
});
</script>