<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="Dr. Torsten Sprenger"/>
  <meta name="copyright" content="Dr. Torsten Sprenger"/>
  <meta name="description" content="Computer Algebra and Orthogonal Polynomials (CAOP) is a web tool for calculating formulas for orthogonal polynomials belonging to the Askey-Wilson scheme using Maple."/>
  <meta name="expires" content="0"/>
  <meta name="keywords" lang="de" content="caop, orthogonale polynome, computeralgebra, mathematik, universität, kassel, maple, software, e-learning"/>
  <meta name="keywords" lang="en" content="caop, orthogonal polynomials, computer algebra, mathematics, university, kassel, maple, software, e-learning"/>
  <meta name="robots" content="noodp"/>
  <meta name="robots" content="noydir"/>  
  
  <title>CAOP - Computer Algebra & Orthogonal Polynomials</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= mathjax_tag %>
</head>
<body>
  <% content_for(:metabar) do %>
  <% end %>

  <% content_for(:topbar) do %>
    <h1><%= link_to "CAOP", root_path %></h1>
    <ul class="menu">
      <%= menu_item :item => "polynomials", :label => t('orthogonal_polynomials'), :url => polynomials_path() %></li>
      <%= menu_item :item => "qpolynomials", :label => t('qorthogonal_polynomials'), :url => qpolynomials_path() %></li>
    </ul>

    <ul class="menu secondary">
      <%= menu_item :item => "stats", :label => t('stats'), :url => stats_path() if session[:authorized] %></li>
      <li><%= link_to(t('logout'), logout_path) if session[:authorized] %></li>
    </ul>
  <% end %>

  <% content_for(:sidebar) do %>
    <%= render :partial => 'sidebar' %>
  <% end %>

  <% content_for(:footer) do %>
    <a href="http://www.mathematik.uni-kassel.de" target="_blank"><%= image_tag "unilogo.png" %></a>
  <% end %>

  <% content_for(:flash) do %>
    <% flash.each do |name, msg| %><div class="flash_<%= name %>"><%= msg %></div><% end %>
  <% end %>
  
  <%#= contentr_toolbar %>
  
  <% if content_for?(:metabar) %>
  <div id="metabar-wrapper">
    <div id="metabar">
      <%= yield(:metabar) %>
    </div>
  </div>
  <% end %>

  <% if content_for?(:topbar) %>
  <div id="topbar-wrapper">
    <div id="topbar">
      <%= yield(:topbar) %>
    </div>
  </div>
  <% end %>

  <% if content_for?(:flash) %>
    <div id="flashbar-wrapper">
      <div id="flashbar">
        <%= yield(:flash) %>
      </div>
    </div>
  <% end %>

  <div id="mainarea-wrapper">
    <% with_sidebar_class = content_for?(:sidebar) ? 'with-sidebar' : 'without-sidebar' -%>
    <div id="mainarea" class="<%= with_sidebar_class -%>">
      <% if content_for?(:sidebar) %>
        <div id="sidebar">
          <%= yield(:sidebar) %>
        </div>
      <% end %>

      <div id="pagearea">
        <div id="page">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <% if content_for?(:footer) %>
  <div id="footer-wrapper">
    <div id="footer">
      <%= yield(:footer) %>
    </div>
  </div>
  <% end %>
</body>
</html>