<!DOCTYPE html>
<html>
<head>
  <title>CAOP - Computer Algebra & Orthogonal Polynomials - Login</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% content_for(:topbar) do %>
    <h1><%= link_to "CAOP", root_path %></h1>

    <ul class="menu secondary">
      <li><%= link_to(t('logout'), logout_path) if session[:authorized] %></li>
    </ul>
  <% end %>

  <% content_for(:footer) do %>
    <a href="http://www.mathematik.uni-kassel.de" target="_blank"><%= image_tag "unilogo.png" %></a>
  <% end %>

  <% content_for(:flash) do %>
    <% flash.each do |name, msg| %><div class="flash_<%= name %>"><%= msg %></div><% end %>
  <% end %>
    
  <% if content_for?(:metabar) %>
  <div id="metabar-wrapper">
    <div id="metabar">
      <%= yield(:metabar) %>
    </div>
  </div>
  <% end %>

  <% if content_for?(:topbar) %>
  <div id="topbar-wrapper">
    <div id="topbar">
      <%= yield(:topbar) %>
    </div>
  </div>
  <% end %>

  <% if content_for?(:flash) %>
    <div id="flashbar-wrapper">
      <div id="flashbar">
        <%= yield(:flash) %>
      </div>
    </div>
  <% end %>

  <div id="mainarea-wrapper">
    <% with_sidebar_class = content_for?(:sidebar) ? 'with-sidebar' : 'without-sidebar' -%>
    <div id="mainarea" class="<%= with_sidebar_class -%>">
      <% if content_for?(:sidebar) %>
        <div id="sidebar">
          <%= yield(:sidebar) %>
        </div>
      <% end %>

      <div id="pagearea">
        <div id="page">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <% if content_for?(:footer) %>
  <div id="footer-wrapper">
    <div id="footer">
      <%= yield(:footer) %>
    </div>
  </div>
  <% end %>
</body>
</html>